@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  color: var(--color-text);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  color: var(--color-text);
  z-index: 1;
}

.title {
  color: var(--color-text);
  font-size: 50px;
  margin-bottom: 10px;
  font-family: var(--font-roboto);
}

.skillImageContainer {
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}
