:root {
  /*colours*/
  --color-text: #1b1c1d;
  --color-primary: #ff9966;
  --color-purple: #eda6e6;
  --color-blue: #a8ebff;
  --colour-yellow: #fff480;
  --colour-green: #66cca0;
  --color-bg: #f5f3ea;

  /*fonts*/
  --font-roboto: "Roboto";
}

html {
  scroll-behavior: smooth;
}
